click==8.1.7
click-default-group==1.2.4
greenlet==3.0.3
markdown-it-py==3.0.0
mdurl==0.1.2
playwright==1.43.0
pyee==11.1.0
Pygments==2.17.2
PyYAML==6.0.1
rich==13.7.1
shellingham==1.5.4
shot-scraper==1.4
typer==0.12.3
typing_extensions==4.11.0
